.dropdown-menu {
    z-index: 3;
  
   
    width: 153px;
    position: absolute;
    top: 75px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li a{
    color: #fcd302;
  }
  .dropdown-menu li a:hover{
    z-index: 1;
    color: #8a181b;
    background: #fcd302;
  }
  .dropdown-menu li {
    z-index: 1;
    margin-top: -16px;
    color: #fcd302;
    background: #8a181b;
  
    cursor: pointer;
  }
  .dropdown-menu li:hover {
    z-index: 1;
    color: #8a181b;
    background: #fcd302;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #8a181b;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
    
   
    
  
  }
  
